header{
    display: grid;
    grid-template-areas: "nav logo search config";
    grid-template-columns: 1fr 2fr 1fr 80px;
    align-items: center;
    position: fixed;
    padding: 10px 30px;
    font-size: 16pt;
    color: #fff;
    transition: background .5s ease-out;
}

header .navigation{
    grid-area: "nav";
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 500px;
}

header .navigation a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}


header .navigation .nav-option{
    height: 30px;
}

header .navigation .nav-option div{
    width: 0;
}

header .navigation .nav-option div.selected{
    width: 100%;
    height: 2px;
    background: #54d154;
    transition: width .5s;
}

header .logo{
    grid-area: "logo";
    text-align: center;
}

header .search{
    grid-area: "search";
    justify-self: end;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px;
    text-align: right;
    min-width: 230px;
    background: #fff;
    border-radius: 15px;
    opacity: 0.8;
}

header .search .input-search{
    border: none;
    outline: none;
    background: transparent;
}

header .search .button-search{
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
    margin-right: 10px;
}

header .search .icon-search{
  height: 20px;
}

header .config{
    grid-area: 'config';
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    margin: 0 auto;
    font-size: 25pt;
    cursor: pointer;
}

@media only screen and (max-width: 1300px) {
    header {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    header .navigation {
        min-height: 62px;
    }
    
    header .logo, header .search, header .config {
        display: none;
    }
    
}