#what-we-do{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    height: 100px;
}

.title h2{
    text-align: center;
    font-size: 21pt;
    color: #828181;
}

.title hr{
    width: 60px;
    height: 4px;
    background: #828181;
    border-radius: 10px;
    border: none;
    outline: none;
}

.title p{
    color: #828181;
}

.services{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-top: 200px;
}